python-dotenv==1.0.0
streamlit==1.32.0
unstructured==0.11.0
tiktoken==0.5.2
langchain==0.0.267
langchain-community==0.0.13
protobuf==4.24.4
sentence-transformers==2.2.2
beautifulsoup4==4.12.2
requests==2.31.0
pysqlite3-binary==0.5.1
langchain-groq==0.1.5
langchain-chroma==0.0.1
